# simple test config for usb camera

global:
    # list of modules to load when starting
    startup: ['man', 'tray']

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

hardware:
    usb_elp_camera:
        module.Class: 'camera.TIS.DMK_33UX264.UsbCamera'
        #module.Class: 'camera.usb_camera.UsbCamera'

#        support_live: True
#        camera_name: 'Dummy camera'
#        resolution: (1280, 720)
#        exposure: 0.1
#        gain: 1.0
    HV:
        module.Class: 'high_voltage.Mantigora_HV.HighVoltage'
        code_of_max_voltage_ADC: 4000
        code_of_max_voltage_DAC: 64000
        max_voltage_V: 2000.
        min_voltage_V: 10.
        voltage_step_V: 1.
        current_step_mcA: 1.
        polarity: "P"
        sensor_resistance_kohm: 5.
        feedback_resistanse_Mohm: 100.
        current_min_mcA: 5.
        current_max_mcA: 800.
        current_units: "micro"


logic:
    camera_logic:
        module.Class: 'camera_logic_test.CameraLogic'
        #module.Class: 'camera_logic.CameraLogic'
        connect:
            hardware: 'usb_elp_camera'
            savelogic: 'savelogic'
            hv: 'HV_logic'

    HV_logic:
        module.Class: 'hv_logic.HighVoltageLogic'
        connect:
            hardware: 'HV'
            savelogic: 'savelogic'

    savelogic:
        module.Class: 'save_logic.SaveLogic'
        win_data_directory: 'D:\\Data\\Elizaveta\\'
        unix_data_directory: 'Data/'
        log_into_daily_directory: True

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'
    man:
        module.Class: 'manager.managergui.ManagerGui'

    cameragui:
        module.Class: 'camera.cameragui_Test.CameraGUI'
        #module.Class: 'camera.cameragui.CameraGUI'
        connect:
            camera_logic: 'camera_logic'
            savelogic: 'savelogic'

    Mantigoragui:
        module.Class: 'Mantigora.Mantigora_gui.MantigoraGui'
        connect:
            hv_logic: 'HV_logic'
            savelogic: 'savelogic'